body{
    margin:0;
    background-color: #ddd;
}
.ami{
    display:flex;
    margin-bottom:150px;
}
.one{
    width:50%;
    background-image:#111;
}
.one img{
    width:150px;
    margin:10% auto;
    display:block;
    text-align: center;
    border:5px solid yellow;
    border-radius:50%;
}
.five{
    text-align:center;
    margin:0px
}
.three{
    text-align: center;
    display:block;
    padding-bottom:10px;
    font-weight:500
}
ul{
    margin:0;
    padding:0;
}
ul li a{
    width:200px;
    display:block;
    text-align:center;
    text-decoration: none;
    text-transform: capitalize;
    padding:10px 40px;
    background-color: #1a1a1a;
    margin:5px auto;
    border-radius:10px;
    color:#ddd
}
.four{
    color:yellow
}
.one h4, h1, p{
    padding-left:100px;
    padding-right:30px;
}
.two{
    padding-top:200px;
}
.five{

}
.six{
    display:flex;
}
.seven{
    width:25%;
    box-shadow: 10px 10px 15px brown;
    text-align: center;
}